<div class="container-fluid animated fadeIn">
    <div class="container bg-white mat-elevation-z3 p-5 text-center">
        <hr class="hr">
        <p class="h1 fw-light text-indigo">
           <mat-icon>blur_on</mat-icon> Dashboard
        </p>
        <p class="lead">System Admin Dashboard</p>
        <hr class="my-4">
        <div class="text-muted">
          <a>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sapiente ex commodi nostrum repellat, dignissimos vitae quaerat autem iusto recusandae delectus repellendus suscipit quasi veritatis a labore sunt assumenda nemo?</a>
        </div>
    </div>
</div>

