.text-indigo {color: #3f51b5 }
.hr {
    width: 70px!important;
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
    border: 0!important;
    border-top: 5px solid #3f51b5!important;
    margin: auto;
    opacity: 1;
}